BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping: {AfterFunction: true, AfterClass: false, AfterControlStatement: Never, AfterEnum: false, AfterNamespace: false, AfterStruct: false, AfterUnion: false, BeforeCatch: false, BeforeElse: false, BeforeLambdaBody: false, BeforeWhile: false}
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: true
PackArguments: {BinPack: OnePerLine}
PackParameters: {BinPack: OnePerLine}
PackConstructorInitializers: NextLine
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
ReflowComments: false
InsertNewlineAtEOF: true
FixNamespaceComments: true
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
KeepEmptyLinesAtEOF: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: None
AlignOperands: false

IncludeBlocks: Preserve
SortIncludes: false
