BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always

NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Linux
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: true
PackArguments: {BinPack: OnePerLine}
PackParameters: {BinPack: OnePerLine}
PackConstructorInitializers: NextLine
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
ReflowComments: false
InsertNewlineAtEOF: true
FixNamespaceComments: true
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
KeepEmptyLinesAtEOF: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
EmptyLineBeforeAccessModifier: LogicalBlock
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakTemplateDeclarations: MultiLine
LambdaBodyIndentation: Signature
BreakBeforeBinaryOperators: None
AlignOperands: false

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
